@{
    ViewBag.Title = "Home Page";
}

        <!--2nd and 3rd rows-->
        <div class="col-md-9 col-sm-12 mainImage img-responsive vertical-center">
            <div class="overlay" style="text-align:left">
                <h3>FEEL LIKE HOME AWAY FROM HOME</h3>
                <h5>FIND YOUR EXCLUSIVE TUSCANY VILLA FOR HOLIDAYS</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 otherImage img-responsive vertical-center">
            <div class="whiteoverlay">
                <h3>FIND YOUR TUSCANY VILLA</h3>
                <h5>EXPLORE THE MAP</h5>
            </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>

        <!--4th row-->
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" style="color:#66cebf; min-height:340px;">
            <div class="white">
                <h2>SOME ACCOMMODATION IDEAS FOR A PERFECT STAY</h2>
                <h5>MORE STUFF</h5>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 RRpic vertical-center2 square">
            <div class="overlay">
                <h3>WEDDINGS</h3>
                <h5>ACCOMMODATIONS</h5>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 RRpic vertical-center2 square">
            <div class="overlay">
                <h3>FRIENDS</h3>
                <h5>ACCOMMODATIONS</h5>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-sx-12 RRpic vertical-center2 square">
            <div class="overlay">
                <h3>FAMILY</h3>
                <h5>ACCOMMODATIONS</h5>
            </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>

        <!--5th row-->
        <div class="col-md-3 col-sm-6 col-xs-12 RRpic vertical-center3 square">
            <div class="overlay">
                <h3>VILLA PAOLA</h3>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" style="min-height:340px">
            <div class="white">
                <h3>WHY BOOK A VILLA</h3>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae nisl nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec aliquet est a luctus posuere. Aenean id ullamcorper ligula. Maecenas accumsan elit tristique lacus tristique viverra. Integer convallis vel diam eget consequat. Proin vel pretium massa. Nullam et dui eget ipsum dictum vulputate. Nullam congue arcu justo, quis tincidunt neque venenatis non.</h5>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 RRpic vertical-center3 square">
            <div class="overlay">
                <h3>LA VILLA</h3>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" style="min-height:340px; border:.5px solid #d1d3d1">
            <div class="white">
                <h3>WHY US</h3>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae nisl nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec aliquet est a luctus posuere. Aenean id ullamcorper ligula. Maecenas accumsan elit tristique lacus tristique viverra. Integer convallis vel diam eget consequat. Proin vel pretium massa. Nullam et dui eget ipsum dictum vulputate. Nullam congue arcu justo, quis tincidunt neque venenatis non.</h5>
            </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>

        <!--6th row-->
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" style="min-height:340px">
            <div class="white">
                <h3>SPEAK WITH EXPERTS</h3>
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae nisl nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec aliquet est a luctus posuere. Aenean id ullamcorper ligula. Maecenas accumsan elit tristique lacus tristique viverra. Integer convallis vel diam eget consequat. Proin vel pretium massa. Nullam et dui eget ipsum dictum vulputate. Nullam congue arcu justo, quis tincidunt neque venenatis non.</h5>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 RRpic vertical-center3 square">
            <div class="overlay">
                <h3>VILLA DEI GIGLI</h3>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" id="coloredBox">
            <div class="white" style="color:white">
                <h5>OUR CLIENTS TRUST US</h5>
                <h1>248</h1>
                <h5>GUEST REVIEWS</h5>
                <h1>4.5/5.0</h1>
                <h5>READ ALL REVIEWS</h5>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 vertical-center2 square" style="min-height:340px">
            <div class="white">
                <h4>SEEN ON</h4>
                <img src="pictures/skyCBS.jpg" />
            </div>
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>

     @*Latest compiled and minified JavaScript 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>*@
